// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font-style: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	// height: 100%;
	background-color: rgb(196, 181, 181);
}

// Preprocessing-I Code below here:

//variables
@font-color: black;
@font-size: 44px;
@background-color: rgb(14, 127, 165);

//mix-ins

.columize-text {
	display:flex;
	flex-direction: column;
	width: 100%;
}

.center-text {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-right: 2%;
	margin-left: 2%;
	font-size: @font-size;
	padding: 2rem;
}

.main-context {
	margin: 5%;
	border-radius: 2px;
	// height: 654px;
	padding: 2rem;

}

.mid-context {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.flex-nav {
	display: flex;
	// width: 100%;
	justify-content: space-around;
	padding: 2rem;
	margin-right: 2%;
	margin-left: 2%;
}

.flex-class {
	justify-content: space-evenly;
	align-items: center;
	margin: 1%;
}

.font-class {
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


//nested @ mobile
@media (max-width: 500px) {
	header {
		.center-text();
		

		nav {
			.flex-nav();
			.columize-text();
		}

		a {
			.font-class();
			.flex-class();
			border-bottom: 1px solid;
		}

	}
	
}

//nested selectors inside container
.container {
// container  start
	// border: 4px dashed coral;
	// header
			header {
				// display: flex;

				nav {
					// border: 1px solid red;
					background-color: @background-color;
					.flex-nav();

					a {
						.font-class();
						
					}


				}

			}

		//content sections
		
		.main-content, .mid-content, .end-content, nav, .mid-text, h1, h2 {
			font-size: @font-size;
			color: @font-color;
			.font-class();
		}

				.main-content {
					background-color: @background-color;
					.main-context();
					.center-text();

					.pic {
						border: 2px solid;
						padding: 2rem;
						background-color: @font-color;
					}

					button {
						height: 40px;
						padding: 1rem;
						margin: 2%;
					}
				}


				//mid content
				.mid-content {
				
					border: 2px dashed red;
					.mid-context();
					.center-text();
					width: 96%;

					
					.mid-text {
						border: 2px solid;
						// .center-text();
						
					}
					
				}

					//end content
					.end-content {
						border: 2px solid red;
						.center-text();
						
					}

						footer {
							border: 1px solid blue;
							.center-text();
							background-color: @background-color;
						}

} // Container end

